<br/>
<br/>
<br/>
<div class="hero-unit">
	<div class = "page-header">
		<h1><strong>Editar usuario</strong></h1>
	</div>

	<%= render 'form' %>
</div>

<div class="hero-unit">
	<%= link_to 'Volver', users_path %>
</div>
