<br/>
<br/>
<br/>
<div class="hero-unit">
	<div class = "page-header">
		<h1><strong>Editar criterio</strong></h1>
	</div>

	<%= render 'form' %>
</div>

<div class="hero-unit">
	<%= link_to 'Mostrar', @criterio %> |
	<%= link_to 'Volver', criterios_path %>
</div>