<div class = "page-header">
	<h1><strong>Editar Alcance o Limitacion</strong></h1>
</div>

<%= render 'form' %>

<div class="hero-unit">
<%= link_to 'Mostrar', @alcance_limitacione %> |
<%= link_to 'Volver', alcance_limitaciones_path %>
</div>
